/* Calendar container */
.react-calendar {
  border-radius: 20px;
  border: none;
  padding: 20px;
  width:80%;
  max-width: 500px;
  background: #fff5f8;
  box-shadow: 0 10px 30px rgba(255, 77, 109, 0.2);
}

/* Month title */
.react-calendar__navigation button {
  color: #ff4d6d;
  font-weight: bold;
}

/* Day cells */
.react-calendar__tile {
  border-radius: 50%;
  height: 45px;
}

/* Hover effect */
.react-calendar__tile:enabled:hover {
  background: #ffd6e0;
}

/* Today */
.react-calendar__tile--now {
  background: #ffe6ee;
}

/* Selected period day */
.period-day {
  background: #ff4d6d !important;
  color: white !important;
}

/* Mobile friendly */
@media (max-width: 600px) {
  .react-calendar {
    width: 100%;
  }
}

.tracker-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 60px 20px;
  flex-wrap: wrap;
}

/* LEFT */
.calendar-box {
  background: #fff5f8;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(255, 77, 109, 0.2);
}

/* RIGHT */
.info-box {
  background: #ffffff;
  padding: 25px;
  border-radius: 20px;
  max-width: 350px;
  box-shadow: 0 10px 25px rgba(23, 156, 159, 0.2);
  text-align: center;
}

/* Buttons */
.btn-group {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.period-btn {
  flex: 1;
  padding: 15px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

/* Past */
.period-btn.past {
  background: #b5e7a0;
}

/* Next */
.period-btn.next {
  background: #ff4d6d;
}

/* Responsive */
@media (max-width: 768px) {
  .tracker-container {
    flex-direction: column;
  }
}

